@import '~@angular/material/theming';

$bv-light-primary: (50: #E7F3FD,
    100: #B8DCFA,
    200: #88C6F7,
    300: #57AFF4,
    400: #2698F2,
    500: #0C7FDA,
    600: #0863AA,
    700: #05467A,
    800: #043862,
    900 : #022A4A,
    contrast : (50 :$light-primary-text,
        100 :$light-primary-text,
        200 :$light-primary-text,
        300 :$light-primary-text,
        400 :$light-primary-text,
        500 :$light-primary-text,
        600 :$dark-primary-text,
        700 :$dark-primary-text,
        800 :$dark-primary-text,
        900 :$dark-primary-text)
);


$bv-light-secondary: (50: #FBF6EA,
    100: #F4E7BD,
    200: #F2D88D,
    300: #F3CC59,
    400: #F7C222,
    500: #E6AC00,
    600: #B38600,
    700: #806000,
    800: #664D00,
    900 : #4D3900,
    A100: #ffd180,
    A200: #ffab40,
    A400: #ff9100,
    A700: #ff6d00,
    contrast : (50 :$light-primary-text,
        100 :$light-primary-text,
        200 :$light-primary-text,
        300 :$light-primary-text,
        400 :$light-primary-text,
        500 :$light-primary-text,
        600 :$dark-primary-text,
        700 :$dark-primary-text,
        800 :$dark-primary-text,
        900 :$dark-primary-text,
        A100 :$dark-primary-text,
        A200 :$dark-primary-text,
        A400 :$dark-primary-text,
        A700 :$dark-primary-text,
    )
);


$bv-light-warn: (50: #F9ECEC,
    100: #EFC3C3,
    200: #E99696,
    300: #E66565,
    400: #E73232,
    500: #D51010,
    600: #AC0606,
    700: #800000,
    800: #660000,
    900 : #4D0000,
    contrast : (50 :$light-primary-text,
        100 :$light-primary-text,
        200 :$light-primary-text,
        300 :$light-primary-text,
        400 :$light-primary-text,
        500 :$light-primary-text,
        600 :$dark-primary-text,
        700 :$dark-primary-text,
        800 :$dark-primary-text,
        900 :$dark-primary-text)
);


